/* === Delete Button === */
.delete-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-container {
    background-color: aliceblue;
}
.post-filed {

}
.field-title {

}
.field-description {

}


