.navbar {
    padding: 10px;
    display: flex;
    align-items: center;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 5px;
    border-bottom: 4px solid rgb(83, 47, 0);
    border-top: 4px solid rgb(83, 47, 0);
    border-bottom-right-radius: 5%;
    border-bottom-left-radius: 5%;
    border-top-left-radius: 3%;
    border-top-right-radius: 3%;
}
.navbar h3 {
    color: #207ca0;
    font-weight: bold;
}
.navbar .nav-links {
    margin-left: auto;
}
.navbar a {
    margin-left: 16px;
    text-decoration: none;
    padding: 6px;
}
.navbar a:hover {
    color: #f1356d;
}