/* === Records Display === */
.no-records {
    font-size: 1.2rem;
}
.records {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.record-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 5px;
    padding: 5px;
    margin: 30px;
    max-width: 300px;
    background: rgb(83, 83, 83);
}

/* special 6 borders repeating */
.record-container:nth-child(6n-6) {box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);}
.record-container:nth-child(6n-5) {box-shadow: 0.5rem 0.5rem black, -0.5rem -0.5rem rgb(228, 228, 228);}
.record-container:nth-child(6n-4) {box-shadow: 0 0 6px 6px rgb(22, 184, 22);}
.record-container:nth-child(6n-3) {background: rgb(83, 83, 83); box-shadow: 0 8px 8px -2px rgb(11, 182, 174);}
.record-container:nth-child(6n-2) {border-radius: 10%; box-shadow: 0 0 50px rgb(0, 0, 0);}
.record-container:nth-child(6n-1) {box-shadow: 0 -5px 3px -3px black, 0 5px 3px -3px black;}

.record-field {
    text-align: center;
    width: 100%;
    transition: 0.5s;
}
.record-field:hover {
    background: rgb(0, 0, 0) !important;
}
.record-field a {
    text-decoration: none;
}
.field-name {
    color: rgb(204, 0, 0);
    margin: 10px;
    font-weight: bold;
    font-size: 1.8rem;
}
.field-info {
    color: rgb(255, 255, 255);
    margin: 5px;
    font-size: 1.2rem;
}



/* === Record Display === */
